<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         testdox="true"
         cacheResultFile=".castor/var/cache/test-run"
         bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true" cacheDirectory=".castor/var/cache/test-coverage">
        <report>
            <clover outputFile=".castor/var/coverage.xml" />
            <html outputDirectory=".castor/var/coverage-html" />
        </report>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
